body {
  background-color: #fff2df;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.App {
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-flow: column;
  align-items: stretch;

  .app-body {
    max-width: 75rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 12px;

    > * {
      margin-top: 8px;
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff2df;
  background-color: #4d3e2a;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
